VITE_OKTA_DOMAIN=your-okta-domain.okta.com
VITE_CLIENT_ID=your-okta-client-id
VITE_CALLBACK_PATH='/login/callback'
VITE_ISSUER='https://your-okta-domain.okta.com/oauth2/default'
VITE_HOST='window.location.host'
VITE_SCOPES='openid profile email'
